.ui-content .imgArea {
  position: relative;
}
.ui-content .imgArea img{
  width: 100%;
  height: auto;
}
.ui-content .center{
  padding: 0 .466em;
}
.ui-content .center .ui-block-b{
  text-align:right;
}
.ui-content .center .ui-block-b .ui-controlgroup{
  margin-top:16px;
  text-align:right;
}
.ui-content .center .ui-block-b .buy{
  background-color: orange;
  color: #fff;
}
.ui-content #detial {
  margin-top: 20px;
  text-align: center;
  background-color: #fff;
}
.ui-content #detial .title{
  font-size: 18px;
  text-align: center;
  color: #3388cc;
  font-weight: bold;
  padding: 12px 0;
  margin: 0;
}
.ui-content #detial img {
  width: 100%;
}