@import "reset";

$mainColor: #2FA4E7;
$deepColor: #317EAC;
$borderColor: #E1E1E1;
$shadowColor: #EEE;
$color: #555;
$grayBackground: #F5F5F5;
$tableZebra: #F9F9F9;
$tableHover: #F5F5F5;

.goods_filter {
	line-height: 26px;
	margin-bottom: 20px;

	.add_fruit {
		color: $mainColor;
		font-weight: bold;
		cursor: pointer;

		span {
			vertical-align: middle;
			display: inline-block;
		}

		span:nth-child(1) {
			font-size: 26px;
		}

		span:nth-child(2) {
			line-height: 20px;
			font-size: 13px;
		}

	}

}

.goods_table {

	tr {

		td {
			padding: 5px;
		}
		
		td {

			img {
				width: 40px;
			}

			.fa {
				text-decoration: none;
				font-size: 20px;
			}

			.fa:nth-child(1) {
				margin-right: 20px;
			}

		} //td 

	}
    
	tr:nth-child(2n) {
		background-color: #F9F9F9;
	}

	tr:not([name="head"]):hover {
		background-color: #F5F5F5;
	}

}

.page_nav {
	button{
		font-size: 12px;
	} 
}

#goods_dialog {
    position: fixed;
    top: 20%;
    left: 60%;
	background-color: #fff;
	width: 600px;
    margin-left: -300px;
	border: 1px solid #9E9E9E;
	box-shadow: 0 0 3px 0 rgba(0,0,0,.5);
	display: none;

	#goods_dialog_header {
		background-color: $mainColor;
		color: #fff;
		line-height: 50px;
		padding: 0 10px;
		cursor: move;

		.goods_title {
			display: inline-block;
			margin-left: 2%;
			font-weight: bold;
		}

		.close {
			line-height: 50px;
			font-size: 20px;
			cursor: pointer;
		}

	}

	#goods_dialog_body {
		text-align: center;
		padding: 10px;
		font-size: 16px;
		height: 380px;
		overflow-y: scroll;
		overflow-x: hidden;

		.goods_edit_table {
		    width: 100%;

		    tr {
		    	td:nth-child(1) {
		    		text-align: right;
		    		font-weight: 700;
		    	}

		    	td:nth-child(2) {
		    		text-align: left;

		    		input,select {
		    			height: 30px;
		    			font-size: 15px;
		    			color: $color;
		    			padding: 0 10px;
		    		}
		    	}

		    	td {
		    		padding: 10px 0;
		    	}

		    }

		    #img_area {
		    	display: none;

		        td:nth-child(2) img{
		        	width: 300px;
		        	height: 300px;
		        	border: 1px solid $borderColor;
		        }
		    }
		}
	}

	#goods_dialog_footer {
		background-color: $mainColor;
		color: #fff;
		padding: 10px;
		overflow: hidden;

		button {
			margin-left: 20px;
		    font-size: 14px;
		}
	}

} // goods_dialog

#img_dialog {
	position: fixed;
	width: 22%;
	top: 50%;
	left: 60%;
	transform: translate(-50%,-50%);
	background-color: rgba(255,255,255,.8);
	padding: 10px 10px;
	border: 1px solid $borderColor;
	display: none;

	span {
		font-size: 20px;
		cursor: pointer;
		display: inline-block;
		margin-bottom: 10px;
		color: #AAAAAB;
	}

	span:hover {
		color: #555;
	}

	img {
	   width: 100%;
	   height: auto;
	}
}